*{
    background-color: whitesmoke;
    width: auto;
    height: auto;
    margin: 0px;
    padding: 0px;
    /* padding: 2px; */
}

/* .container{
  margin: -10px;   
} */

.detail{
    /* background-color: grey; */
    /* width: 50%;
    height: auto; */
    width: auto;
    height: auto;
    background-color: whitesmoke;

}


.youGaveCss{
    border: 2px solid green;
    background-color: transparent;
    color: #ffff;
    border-radius: 20px;
    margin: 0px 10px;
    width: 45%;
    height: auto;
    background-color: green;
    position: fixed;
    bottom: 0px;
    right: 0px;
    
    

}

.youGotCss{
    border: 2px solid red;
    background-color: transparent;
    color: #ffff;
    border-radius: 20px;
    margin: 0px 10px;
    width: 45%;
    height: auto;
    background-color: red;
    position: fixed;
    bottom: 0px;
    left: 0px;
}

.form-control{
    width: 60%;
}

.customerdetailCss{
    text-align: center;
    display: inline;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    padding-right: 20px;
    font-size: 25px;
    /* color: yellow; */
}

.NumberDivCss{
    /* text-align: center; */
    display: inline;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    padding-right: 20px;
    font-size: 25px;
    /* color: yellow; */
}

#amountDivCss{
    /* text-align: center; */
    display: inline;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 50px;
    font-size: 25px;
    /* color: yellow; */
}

#inputGaveCss{
    margin-left: 20px;
    padding: 12px;
    box-shadow: 1px 3px #888888;
    border: none;
    width: 90%;
    margin: 20px;
    /* font-family: 'Times New Roman', Times, serif; */
    /* color: green; */
}

.headingGaveCss{
    text-align: center;
    color: green;
    font-weight: bolder;
}

.lineGaveCss{
    color: #004000f6;
    /* border:  solid green; */
}

#inputGotCss{
    margin-left: 20px;
    padding: 12px;
    box-shadow: 1px 3px #888888;
    border: none;
    width: 90%;
    color: red;
    margin: 20px;
   
}
#gotNoteCss{
    margin-left: 20px;
    padding: 12px;
    box-shadow: 1px 3px #888888;
    border: none;
    width: 90%;
    color: red;
    
}
#gaveNoteCss{
    margin-left: 20px;
    padding: 12px;
    box-shadow: 1px 3px #888888;
    border: none;
    width: 90%;
    color: red;
    
}

.headingGotCss{
    text-align: center;
    color: red;
    font-weight: bolder;
}

.lineGotCss{
    color: red;
    /* border:  solid green; */
}

#buttonGotCss{
    border: 2px solid;
    /* position: fixed;
    bottom: 40px;
    right: 0px; */
    width: 100%;
    color: red;
    border-radius: 15px;
    /* border: none; */
    box-shadow: 2px 1px red;
    margin-top: 18px;
}

#buttonGaveCss{
    border: 2px solid;
    /* position: fixed;
    bottom: 40px;
    right: 0px; */
    width: 100%;
    color: green;
    border-radius: 15px;
    /* border: none; */
    box-shadow: 2px 1px green;
    margin-top: 18px;
}
#gotDataCss{
    border: 2px solid red;
    box-shadow: 2px 2px 2px red;
    text-align: left;
}

#gaveDataCss{
    border: 2px solid green;
    box-shadow: 2px 2px 2px green;
    text-align: right;
}

.titleKhata{
    color: red;
    font-weight: bolder;
    font-size: 28px;
    /* margin: 20px 0px 20px 0px; */
    /* border:2px solid red; */
}

.customerDiv{
    border: 2px solid red;
    margin: 20px;
}

/* .container{
    margin: -5px;
} */

/*Loader CSS Start*/

.mainLoader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  background-color: #ededed;
}

.loader {
  max-width: 15rem;
  width: 100%;
  height: auto;
  stroke-linecap: round;
}

circle {
  fill: none;
  stroke-width: 3.5;
  -webkit-animation-name: preloader;
          animation-name: preloader;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-transform-origin: 170px 170px;
          transform-origin: 170px 170px;
  will-change: transform;
}
circle:nth-of-type(1) {
  stroke-dasharray: 550;
}
circle:nth-of-type(2) {
  stroke-dasharray: 500;
}
circle:nth-of-type(3) {
  stroke-dasharray: 450;
}
circle:nth-of-type(4) {
  stroke-dasharray: 300;
}
circle:nth-of-type(1) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}
circle:nth-of-type(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}
circle:nth-of-type(3) {
  -webkit-animation-delay: -0.45s;
  -moz-animation-delay:  -0.45s;
          animation-delay: -0.45s;
}
circle:nth-of-type(4) {
  -webkit-animation-delay: -0.6s;
  -moz-animation-delay: -0.6s;
          animation-delay: -0.6s;
}

@-webkit-keyframes preloader {
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes preloader {
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
 
/*Loader CSS Ends*/
