body{
	margin:0;
	color:#6a6f8c;
	background:#c8c8c8;
	font:600 16px/18px 'Open Sans',sans-serif;
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap{
	width:100%;
	margin:auto;
	max-width:525px;
	min-height:670px;
	position:relative;
	background:url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg) no-repeat center;
	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
}
.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:rgba(40,57,101,.9);
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	transform:rotateY(180deg);
	backface-visibility:hidden;
	transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
	display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}
.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
	color:#fff;
	border-color:#1161ee;
}
.login-form{
	min-height:345px;
	position:relative;
	perspective:1000px;
	transform-style:preserve-3d;
}
.login-form .group{
	margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}
.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
	background:rgba(255,255,255,.1);
}
.login-form .group input[data-type="password"]{
	text-security:circle;
	-webkit-text-security:circle;
}
.login-form .group .label{
	color:#aaa;
	font-size:12px;
}
.login-form .group .button{
	background:#1161ee;
}
.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
	top:6px;
	right:0;
	transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
	color:#fff;
}
.login-form .group .check:checked + label .icon{
	background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
	transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
	transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
	transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
	transform:rotate(0);
}

.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}

/*Another form*/

/*body {
	height: 100%;
	overflow: hidden;
	width: 100%;
	box-sizing: border-box;
   }
	
   Adding background image to right side 
   .background-Right {
	position: absolute;
	right: 0;
	width: 50%;
	height: 100%;
	background: linear-gradient(to right, #000428, #004e92);
	background-size: cover;
	background-position: 50% 50%;
   }
   
   Adding background image to left side
   .background-Left {
	position: absolute;
	left: 0;
	width: 50%;
	height: 100%;
	background: linear-gradient(to right, #02a8a8, #4fb783);
	background-size: cover;
	background-position: 50% 50%;
   }
	
   #background {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: -3;
   }
	
   Slide is used to slide the form left-right
	sides when toggle on button
   #slide {
	width: 50%;
	max-height: 100%;
	height: 100%;
	overflow: hidden;
	margin-left: 50%;
	position: absolute;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
	  0 10px 10px rgba(0, 0, 0, 0.22);
   }
	
   This make forms z-index grater
   than background-image
   .top {
	width: 200%;
	height: 100%;
	position: relative;
	left: 0;
	left: -100%;
   }
	
   This indicates Login-form will
   appear on the left side
   .left {
	width: 50%;
	height: 100%;
	background: #ffff;
	left: 0;
	position: absolute;
   }
	
   This indicates Register-form
	will appear on the right side
   .right {
	width: 50%;
	height: 100%;
	background: #ffff;
	right: 0;
	position: absolute;
   }
	
   Position the form into center
   of the viewbox
   .content {
	width: 250px;
	margin: 0 auto;
	top: 30%;
	position: absolute;
	left: 50%;
	margin-left: -125px;
   }
	
   .content h2 {
	color: #4caf50;
	font-size: 35px;
   }
	
   button {
	background-color: #4caf50;
	color: white;
	width: auto;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
   }
	
   input[type="text"],
   input[type="password"] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
   }
	
   off class is used to indicate
   the active button like login
   or register button
   .on-off {
	background: none;
	color: #4caf50;
	box-shadow: none;
   }*/

/*Loader Start*/
.mainLoader {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	min-height: 100vh;
	background-color: #ededed;
  }
  
  .loader {
	max-width: 15rem;
	width: 100%;
	height: auto;
	stroke-linecap: round;
  }
  
  circle {
	fill: none;
	stroke-width: 3.5;
	-webkit-animation-name: preloader;
			animation-name: preloader;
	-webkit-animation-duration: 3s;
			animation-duration: 3s;
	-webkit-animation-iteration-count: infinite;
			animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
			animation-timing-function: ease-in-out;
	-webkit-transform-origin: 170px 170px;
			transform-origin: 170px 170px;
	will-change: transform;
  }
  circle:nth-of-type(1) {
	stroke-dasharray: 550;
  }
  circle:nth-of-type(2) {
	stroke-dasharray: 500;
  }
  circle:nth-of-type(3) {
	stroke-dasharray: 450;
  }
  circle:nth-of-type(4) {
	stroke-dasharray: 300;
  }
  circle:nth-of-type(1) {
	-webkit-animation-delay: -0.15s;
			animation-delay: -0.15s;
  }
  circle:nth-of-type(2) {
	-webkit-animation-delay: -0.3s;
			animation-delay: -0.3s;
  }
  circle:nth-of-type(3) {
	-webkit-animation-delay: -0.45s;
	-moz-animation-delay:  -0.45s;
			animation-delay: -0.45s;
  }
  circle:nth-of-type(4) {
	-webkit-animation-delay: -0.6s;
	-moz-animation-delay: -0.6s;
			animation-delay: -0.6s;
  }
  
  @-webkit-keyframes preloader {
	50% {
	  -webkit-transform: rotate(360deg);
			  transform: rotate(360deg);
	}
  }
  
  @keyframes preloader {
	50% {
	  -webkit-transform: rotate(360deg);
			  transform: rotate(360deg);
	}
  }
  /*Loader Ends*/
   